<h1>Mantenimiento de Softwares</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th>Version</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
  </tr>

<% @softwares.each do |software| %>
  <tr>
    <td><%= software.name %></td>
    <td><%= software.version %></td>
    <td><%= software.description %></td>
    <td><%= link_to 'Ver', software %></td>
    <td><%= link_to 'Editar', edit_software_path(software) %></td>
    <td><%= link_to 'Eliminar', software, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Software', new_software_path, :class => 'btn btn-primary' %>
<!--%= link_to 'Buscar Software', search_software_path, :class => 'btn btn-primary' %-->
