<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @professor.code %>
</p>

<p>
  <b>Name:</b>
  <%= @professor.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @professor.lastname %>
</p>


<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
