<div class="alert alert-info">
    <%= notice %>
</div>

<p>
  <b>Ram:</b>
  <%= @computer.ram %>
</p>

<p>
  <b>Processor:</b>
  <%= @computer.processor %>
</p>

<p>
  <b>Motherboard:</b>
  <%= @computer.motherboard %>
</p>

<p>
  <b>Display:</b>
  <%= @computer.display %>
</p>

<p>
  <b>Mouse:</b>
  <%= @computer.mouse %>
</p>

<p>
  <b>Keyboard:</b>
  <%= @computer.keyboard %>
</p>

<p>
  <b>Videocard:</b>
  <%= @computer.videocard %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
