<%= form_for(@computer) do |f| %>
  <% if @computer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computer.errors.count, "error") %> prohibited this computer from being saved:</h2>

      <ul>
      <% @computer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ram %><br />
    <%= f.text_field :ram %>
  </div>
  <div class="field">
    <%= f.label :processor %><br />
    <%= f.text_field :processor %>
  </div>
  <div class="field">
    <%= f.label :motherboard %><br />
    <%= f.text_field :motherboard %>
  </div>
  <div class="field">
    <%= f.label :display %><br />
    <%= f.text_field :display %>
  </div>
  <div class="field">
    <%= f.label :mouse %><br />
    <%= f.text_field :mouse %>
  </div>
  <div class="field">
    <%= f.label :keyboard %><br />
    <%= f.text_field :keyboard %>
  </div>
  <div class="field">
    <%= f.label :videocard %><br />
    <%= f.text_field :videocard %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
