<h1>Listing laboratories</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Numcomputers</th>
    <th>Capacity</th>
    <th>Airconditioning</th>
    <th>Floor</th>
    <th>Projector</th>
    <th>Sound</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @laboratories.each do |laboratory| %>
  <tr>
    <td><%= laboratory.number %></td>
    <td><%= laboratory.numComputers %></td>
    <td><%= laboratory.capacity %></td>
    <td><%= laboratory.airConditioning %></td>
    <td><%= laboratory.floor %></td>
    <td><%= laboratory.projector %></td>
    <td><%= laboratory.sound %></td>
    <td><%= link_to 'Show', laboratory %></td>
    <td><%= link_to 'Edit', edit_laboratory_path(laboratory) %></td>
    <td><%= link_to 'Destroy', laboratory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Laboratory', new_laboratory_path %>
