<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @laboratory.number %>
</p>

<p>
  <b>Numcomputers:</b>
  <%= @laboratory.numComputers %>
</p>

<p>
  <b>Capacity:</b>
  <%= @laboratory.capacity %>
</p>

<p>
  <b>Airconditioning:</b>
  <%= @laboratory.airConditioning %>
</p>

<p>
  <b>Floor:</b>
  <%= @laboratory.floor %>
</p>

<p>
  <b>Projector:</b>
  <%= @laboratory.projector %>
</p>

<p>
  <b>Sound:</b>
  <%= @laboratory.sound %>
</p>


<%= link_to 'Edit', edit_laboratory_path(@laboratory) %> |
<%= link_to 'Back', laboratories_path %>
