
<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="alert alert-error">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label :Laboratorio%>
      <%= f.collection_select :laboratory_id, @laboratory , :floor, :number, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
      <%= f.label :Dia%>
      <%= f.collection_select :day_id, @day,:description,:description, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.time_select :end %>
  </div>
  

  <p>
  <label for="eap">EAP:</label>
  <%= collection_select :id, @eap, :id, :name, :prompt => "Select a eap" %>
</p>
<p id="course_field">
  <label for="course_id">Curso:</label>
  <%= f.collection_select :course_id, @course, :id, :name, {:prompt => "Select a course" }%>
</p>
  <div class="field">
      <%= f.label :Profesor%>
      <%= f.collection_select :id, @professor ,:lastname, :name, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="actions">
      <%= f.submit 'Registrar', :class => 'btn btn-primary' %>
  </div>
<% end %>

