
<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="alert alert-error">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= f.label :Laboratorio%>
      <%= f.collection_select :laboratory_id, @laboratory , :id, :number, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
      <%= f.label :Dia%>
      <%= f.collection_select :day_id, @day,:id,:description, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
    <%= f.label :start,"Inicio;" %><br />
    <%= f.time_select :start %>
  </div>
  <div class="field">
    <%= f.label :end,"Fin:" %><br />
    <%= f.time_select :end %>
  </div>

<p id="course_field">
  <label for="course_id">Curso:</label>
  <%= f.collection_select :course_id, @course, :id, :curso, {:prompt => "Seleccione un curso" }%>
</p>
  <div class="field">
      <%= f.label :Profesor%>
      <%= collection_select :course_id, :professor_id, @professor ,:id, :datos,{:prompt => "Seleccione un profesor"}%>
  </div>
  <div class="actions">
      <%= f.submit 'Registrar', :class => 'btn btn-primary' %>
  </div>
<% end %>

