
<h1>Prueba de busqueda de laboratorio <%= @codigo %></h1>
<% if @laboratory1.size != 0 %>
<table class="table">
<table class="table">
  <tr>
    <th>Dia</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th>Curso</th>
    <th>Profesor</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @laboratory1.each do |laboratory| %>
  <tr>
    <td><%= laboratory.day_id %></td>
    <td><%= laboratory.start %></td>
    <td><%= laboratory.end %></td>
    <td><%= laboratory.title %></td>
    <td><%= laboratory.body%><%= laboratory.lastname%></td>
    <td><%= link_to 'Ver', laboratory %></td>
    <% if can? :update, @professors %>
      <td><%= link_to 'Editar', edit_laboratory_path(laboratory) %></td>
    <% end %>
    <% if can? :destroy, laboratory %>
      <td><%= link_to 'Eliminar', laboratory, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
    <% end %>
  </tr>
<% end %>
<% end %>
  </table>
  <% content_for :head do %>
<%= javascript_tag "var laboratories = #{@lab};"%>
<%= javascript_include_tag 'new' %>

<% end %>
<div id='calendar'></div>
<div id="event_edit_container">

  <%= form_tag :action => 'dynamic_create', :method=>"GET" do %>
  <% if @schedule.errors.any? %>
    <div id="alert alert-error">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <label for="laboratory_id">Laboratorio:</label>
      <%= collection_select :schedule, :laboratory_id, @laboratory , :id, :number, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
      <label for="day_id">Day:</label>
      <%= collection_select :schedule, :day_id, @day,:description,:description, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
    <label for="start">Inicio:</label>
    <%= time_select :start ,:start, :style=>"width:50px" %>
  </div>
  <div class="field">
    <label for="end">Fin:</label>
    <%= time_select :end, :end %>
  </div>
<%= debug(@schedule.start) %>
<p id="course_field">
  <label for="course_id">Curso:</label>
  <%= collection_select :schedule, :course_id, @course, :id, :name, {:prompt => "Select a course" }%>
</p>
  <div class="field">
      <label for="id">Profesor:</label>
      <%= collection_select :schedule ,:id, @professor ,:id, :name, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="actions">
      <%= submit_tag 'Buscar', :class => 'btn-small btn-primary' %>
      <input class="btn btn-primary span1" name="commit1" />
  </div>
<% end %>

</div>
<div id='calendar'></div>
<div id="event_edit_container2">
	<form>
		<input type="hidden" />
		<ul>
			<li>
				<span>Date: </span><span class="date_holder"></span> 
			</li>
			<li>
				<label for="start">Start Time: </label><span class="start1"></span>
			</li>
			<li>
				<label for="end">End Time: </label><span class="end1"></span>
			</li>
			<li>
				<label for="title">Curso: </label><span class="title1"></span>
			</li>
			<li>
				<label for="body">Docente: </label><span class="body1"></span>
			</li>
		</ul>
	</form>
</div>

