<h1>Horario editable laboratorio <%= @pred %></h1>
<%= form_tag :action => 'dynamic_new' do%>
    <span>Codigo:</span>
    <%= collection_select :labo, :number, Laboratory.all, :number, :number, :selected => @pred %>
    <%= submit_tag 'Buscar', :class => 'btn-small btn-primary' %>
<% end %>
 <% content_for :head do %>
<%= javascript_tag "var laboratories = #{@lab};"%>
<%= javascript_include_tag 'new' %>

<% end %>
<div id='calendar'></div>
<div id="event_edit_container">

  <%= form_for @schedule, url: {action: 'dynamic_create'} do |f| %>

  <% if @schedule.errors.any? %>
    <div id="alert alert-error">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <label for="laboratory_id">Laboratorio:</label>
      <%= f.collection_select :laboratory_id, @laboratory , :id, :number, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
      <label for="day_id">Day:</label>
      <%= f.collection_select :day_id, @day,:id,:description, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
  <div class="field">
    <label for="start">Inicio:</label>
    <%= f.time_select :start, :style=>"width:50px" %>
  </div>
  <div class="field">
    <label for="end">Fin:</label>
    <%= f.time_select :end %>
  </div>
<!--%= debug(@schedule.start) %-->
<p id="course_field">
  <label for="course_id">Curso:</label>
  <%= f.collection_select :course_id, @course, :id, :curso, {:prompt => "Seleccione un curso" }%>
</p>
  <div class="field">
      <label for="id">Profesor:</label>
      <%= collection_select :course_id, :professor_id, @professor ,:id, :datos,{:prompt => "Seleccione un profesor"}%>
  </div>
  <div class="actions">
      <%= f.submit 'Registrar', :class => 'btn-small btn-primary' %>
      <input class="btn-small btn-primary span1" name="commit1" value="Cerrar" />
  </div>
<% end %>

</div>
<div id='calendar'></div>
<div id="event_edit_container2">
	<form>
		<input type="hidden" />
		<ul>
			<li>
				<span>Date: </span><span class="date_holder"></span> 
			</li>
			<li>
				<label for="start">Hora de Inicio: </label><span class="start1"></span>
			</li>
			<li>
				<label for="end">Hora de Fin: </label><span class="end1"></span>
			</li>
			<li>
				<label for="title">Curso: </label><span class="title1"></span>
			</li>
			<li>
				<label for="body">Docente: </label><span class="body1"></span>
			</li>
		</ul>
	</form>
</div>

