<div class="alert alert-info">
    <%= notice %>
</div>

<p>
  <b>Star:</b>
  <%= @schedule.start %>
</p>

<p>
  <b>End:</b>
  <%= @schedule.end %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
