<h1>Laboratorios</h1>
<h2>Listado</h2>

<% @laboratories.each do |laboratory| %>
<div class="row">
  <div class="span5 well centered">
    <h4><%= link_to "Laboratorio #{laboratory.number}", laboratory %></h4>
    <table class="table table-condensed">
      <tbody>

        <tr>
          <% user = laboratory.user == nil ? "No asignado" : laboratory.user[:name] %>
          <th>Responsable</th><td><%= user %></td>
        </tr>
        <tr>
          <th>Capacidad</th><td><%= laboratory.capacity %></td>
        </tr>
        <tr>
          <th>Numero de Computadoras</th><td><%= laboratory.numComputers %></td>
        </tr>
        <tr>
          <th>Aire Acondicionado</th><td><%= laboratory.airConditioning == 1 ?  "Si" : "No"%></td>
        </tr>
        <tr>
          <th>Proyector</th><td><%= laboratory.projector == 1 ?  "Si" : "No" %></td>
        </tr>
        <tr>
          <th>Sonido</th><td><%= laboratory.sound == 1 ?  "Si" : "No" %></td>
        </tr>
      </tbody>
    </table>
    <% if can? :update, laboratory %>
        <%= link_to 'Editar', edit_laboratory_path(laboratory) %>
    <% end %>
    <% if can? :destroy, laboratory %>
        <%= link_to 'Eliminar', laboratory, method: :delete, data: { confirm: '¿Esta seguro?' } %>
    <% end %> 
  </div>
</div>
<br />
<% end %>

<% if can? :create, @laboratories.first %>
  <%= link_to 'Nuevo Laboratory', new_laboratory_path, :class => 'btn btn-primary' %>
<% end %>
<br />

<h2>Busqueda de Laboratorios <%= @codigo %></h2>
<%= form_tag :action => 'search' do%>
    <span>Codigo:</span>
    <%= collection_select :lab, :number, @laboratories, :number, :number %>
    <%= submit_tag 'Buscar', :class => 'btn-small btn-primary' %>
<% end %>
