<h1>Laboratorios</h1>
<h2>Listado</h2>
<div class="centered">
  <%= paginate @laboratories %>
</div>
<div class="span6 centered">
  <% @laboratories.each do |laboratory| %>
    <%= render partial: "info", locals: {laboratory: laboratory} %>
  <% end %>

  <% if can? :create, @laboratory %>
    <%= link_to 'Nuevo Laboratorio', new_laboratory_path, :class => 'btn btn-primary' %>
  <% end %>
  <hr>
</div>

<h2>Busqueda de Laboratorios</h2>

<div class="span5">
  <%= form_tag({ :action => 'search' }, { :class => 'form-horizontal' }) do %>
    <div class="control-group">
      <%= label_tag :labo, "Elija un laboratorio:", :class => "control-label" %>
      <div class="controls">
        <%= collection_select :labo, :number, @labs, :number, :name %>
        <%= submit_tag 'Buscar', :class => 'btn-small btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
