<h1>Prueba de busqueda de laboratorio <%= @codigo %></h1>

<table class="table">
<table class="table">
  <tr>
    <th>Dia</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th>Curso</th>
    <th>Profesor</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @laboratories.each do |laboratory| %>
  <tr>
    <td><%= laboratory.day_id %></td>
    <td><%= laboratory.start %></td>
    <td><%= laboratory.end %></td>
    <td><%= laboratory.title %></td>
    <td><%= laboratory.profesor_name%><%= laboratory.lastname%></td>
    <td><%= link_to 'Show', laboratory %></td>
    <td><%= link_to 'Edit', edit_laboratory_path(laboratory) %></td>
    <td><%= link_to 'Destroy', laboratory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

  </table>

<div id="calendar"></div>
<div id="event_edit_container">
		<form>
			<input type="hidden" />
			<ul>
				<li>
					<span>Date: </span><span class="date_holder"></span> 
				</li>
				<li>
					<label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
				</li>
				<li>
					<label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
				</li>
				<li>
					<label for="title">Title: </label><input type="text" name="title" />
				</li>
				<li>
					<label for="body">Body: </label><textarea name="body"></textarea>
				</li>
			</ul>
		</form>
	</div>
<%= form_tag :action => 'search', :method=>"GET" do%>
    <p>Codigo:</p>
    <%= collection_select :id, :number, @laboratory1, :number, :number %>
    <%= submit_tag 'Buscar', :class => 'btn-small btn-primary' %>
<%end%>