<h1>Prueba de busqueda de laboratorio <%= @codigo %></h1>

<table class="table">
<table class="table">
  <tr>
    <th>Dia</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th>Curso</th>
    <th>Profesor</th>
    
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @laboratory1.each do |laboratory| %>
  <tr>
    <td><%= laboratory.day_id %></td>
    <td><%= laboratory.start %></td>
    <td><%= laboratory.end %></td>
    <td><%= laboratory.title %></td>
    <td><%= laboratory.body%><%= laboratory.lastname%></td>
    <td><%= link_to 'Show', laboratory %></td>
    <td><%= link_to 'Edit', edit_laboratory_path(laboratory) %></td>
    <td><%= link_to 'Destroy', laboratory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

  </table>
  <% content_for :head do %>
<%= javascript_tag "var laboratories = #{@lab};"%>
<%= javascript_include_tag 'search' %>

<% end %>
<div id='calendar'></div>
<div id="event_edit_container">
	<form>
		<input type="hidden" />
		<ul>
			<li>
				<span>Date: </span><span class="date_holder"></span> 
			</li>
			<li>
				<label for="start">Start Time: </label><span class="start1"></span>
			</li>
			<li>
				<label for="end">End Time: </label><span class="end1"></span>
			</li>
			<li>
				<label for="title">Curso: </label><span class="title1"></span>
			</li>
			<li>
				<label for="body">Docente: </label><span class="body1"></span>
			</li>
		</ul>
	</form>
</div>
