
<h1>Horario laboratorio <%= @pred %></h1>

<div class="row">
	<div class="span5 centered">
	  <%= form_tag({ :action => 'search' }, { :class => 'form-horizontal' }) do %>
	    <div class="control-group">
	      <%= label_tag :labo, "Elija un laboratorio:", :class => "control-label" %>
	      <div class="controls">
	        <%= collection_select :labo, :number, @total_labs, :number, :name %>
	        <%= submit_tag 'Buscar', :class => 'btn-small btn-primary' %>
	      </div>
	    </div>
	  <% end %>
	</div>
</div>

<% if @laboratory1.size != 0 %>

  <% content_for :head do %>
<%= javascript_tag "var laboratories = #{@lab};"%>
<%= javascript_include_tag 'search' %>

<% end %>
<div id='calendar'></div>
<div id="event_edit_container">
	<form>
		<input type="hidden" />
		<ul class="schedule-info">
			<li>
				<label for="start">Hora de inicio:</label><span class="start1"></span>
			</li>
			<li>
				<label for="end">Hora de fin: </label><span class="end1"></span>
			</li>
			<li>
				<label for="title">Curso: </label><span class="title1"></span>
			</li>
			<li>
				<label for="body">Docente: </label><span class="body1"></span>
			</li>
		</ul>
	</form>
</div>
<% else %>
	
	<h2>No hay horarios asignados.</h2>
	
<% end %>

