<div class="span6 centered">
  <%= form_for(@course, html: { class: "form-horizontal"}) do |f| %>
    <% if @course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@course.errors.count, "error") %> no pudo ser creado:</h2>

        <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :code, "Código:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :code %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, "Nombre:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :eap_id, "E.A.P.:", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :eap_id, Eap.find(:all), :id, :name, :prompt => "Seleccione una EAP" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :group_id, "Grupo:", :class => "control-label" %>
      <div class="controls">
        <%= f.collection_select :group_id, Group.find(:all), :id, :name, :prompt => "Seleccione un Grupo" %>
      </div>
    </div>
  
    <div class="button-container">
      <div class="button">
        <%= f.submit "Ingresar", :class => 'btn btn-primary' %>
      </div>
      <div class="button">
        <%= link_to "Cancelar", courses_path, :class => 'btn' %>
      </div>
    </div>

  <% end %>  
</div>
