<h1>Mantenimiento de Computadoras</h1>

<table class="table">
  <tr>
    <th>Código</th>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.code %></td>
    <td><%= course.name %></td>
    <td><%= link_to 'Ver', course %></td>
    <td><%= link_to 'Editar', edit_course_path(course) %></td>
    <td><%= link_to 'Eliminar', course, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Curso', new_course_path, :class => 'btn btn-primary' %>
