<div class="span6 centered">
  <%= form_for(@professor, html: {class: "form-horizontal"}) do |f| %>
    <% if @professor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

        <ul>
        <% @professor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :code, "Código:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :code %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :name, "Nombre:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :lastname, "Apellidos:", :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :lastname %>
      </div>
    </div>

    <div class="button-container">
      <div class="button">
        <%= f.submit "Aceptar", :class => "btn btn-primary" %>
      </div>
      <div class="button">
        <%= link_to 'Atrás', professors_path %>
      </div>
    </div>
  <% end %>
</div>