<h1>Mantenimiento de Profesores</h1>

<div class="row centered">
  <% @professors.each do |professor| %>
    <div class="profile-box">
      <h4><%= link_to "#{professor.name} #{professor.lastname}", professor %></h4>
      <p><%= professor.code  %></p>

      <%= link_to 'Editar', edit_professor_path(professor) %>
      <%= link_to 'Eliminar', professor, method: :delete, data: { confirm: '¿Está seguro?' } %>
    </div>

  <% end %>  
</div>


<br />

<%= link_to 'Nuevo Profesor', new_professor_path, :class => 'btn btn-primary' %>
