<div class="span4 centered">
  <% if notice.present? %>
    <div class="alert alert-info">
        <%= notice %>
    </div>
  <% end %>

  <p>
    <b>Codigo:</b>
    <%= @professor.code %>
  </p>

  <p>
    <b>Nombre:</b>
    <%= @professor.name %>
  </p>

  <p>
    <b>Apellido:</b>
    <%= @professor.lastname %>
  </p>
  <div class="button-container">
    <% if can? :update, @professor %>
      <div class="button">
        <%= link_to 'Editar', edit_professor_path(@professor), :class => "btn btn-primary" %>
      </div>
    <% end %>
    <div class="button">
      <%= link_to 'Atrás', professors_path, :class => "btn"  %>
    </div>
  </div>
</div>