<h1>Datos del Profesor</h1>
<div class="span3 centered">
  <h2>Información Personal</h2>
  <% if notice.present? %>
    <div class="alert alert-info">
        <%= notice %>
    </div>
  <% end %>

  <p>
    <b>Codigo:</b>
    <%= @professor.code %>
  </p>

  <p>
    <b>Nombre:</b>
    <%= "#{@professor.lastname}, #{@professor.name}" %>
  </p>

  <div class="button-container">
    <% if can? :update, @professor %>
      <div class="button">
        <%= link_to 'Editar', edit_professor_path(@professor), :class => "btn btn-primary" %>
      </div>
    <% end %>
    <div class="button">
      <%= link_to 'Atrás', professors_path, :class => "btn"  %>
    </div>
  </div>

  <h2>Cursos</h2>
  <div class="span5 centered">



    <div class="button-container">
      <div class="button">
        
      </div>
    </div>
  </div>
</div>
<%= debug(@courses) %>    