<p id="notice"><%= notice %></p>

<p>
  <b>Dater:</b>
  <%= @reservation.dateR %>
</p>

<p>
  <b>Numhours:</b>
  <%= @reservation.numHours %>
</p>

<p>
  <b>Responsible:</b>
  <%= @reservation.responsible %>
</p>

<p>
  <b>Reason:</b>
  <%= @reservation.reason %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
