<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> no pudo ser creado:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email,"Email:" %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :code, "Codigo:" %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :username,"Username:" %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :name,"Nombre:" %><br />
    <%= f.text_field :name %>
  </div>
  <% if @current_method == "new" %>
    <div class="field">
      	<%= f.label :password %><br />
      	<%= f.password_field :password %>
    </div>
    <div class="field">
      	<%= f.label :password_confirmation %><br />
    	<%= f.password_field :password_confirmation %>
    </div>
    
<% end %>

<% if can? :assign_roles, User %>
<div class="field">
      <%= f.label :role,"Rol:"%>
    <%= f.collection_select :role_id, @roles ,:id, :name, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
<% end %>

<% if can? :assign_roles2, User %>
<div class="field">
      <%= f.label :role,"Rol:"%>
    <%= f.collection_select :role_id, Role.find(:all,:conditions => ["id != 1"]) ,:id, :name, option={} ,{:class=>"selectpicker span1", :style=>"width:120px"}%>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit 'Actualizar', :class => 'btn btn-primary' %>
  </div>
<% end %>