<%= form_for(@eap) do |f| %>
  <% if @eap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eap.errors.count, "error") %> no pudo ser creado:</h2>

      <ul>
      <% @eap.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,"Nombre:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
