<h1>Lista de E.A.P.</h1>

<table class="table">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eaps.each do |eap| %>
  <tr>
    <td><%= eap.name %></td>
    <td><%= link_to 'Ver', eap %></td>
    <td><%= link_to 'Editar', edit_eap_path(eap) %></td>
    <td><%= link_to 'Eliminar', eap, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva E.A.P', new_eap_path, :class => 'btn btn-primary' %>
