<p id="notice"><%= notice %></p>

<p>
  <b>Star:</b>
  <%= @schedule.star %>
</p>

<p>
  <b>End:</b>
  <%= @schedule.end %>
</p>

<p>
  <b>Day:</b>
  <%= @schedule.day %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
