<h1>Mantenimiento de Categorias de Software</h1>

<table class="table">
  <tr>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.description %></td>
    <td><%= link_to 'Ver', category %></td>
    <% if can? :update, category %>
      <td><%= link_to 'Editar', edit_category_path(category) %></td>
    <% end %>
    <% if can? :destroy, category %>
      <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
    <% end %>  
  </tr>
<% end %>
</table>

<br />

<% if can? :create, @category %>
  <%= link_to 'Nueva Categoria', new_category_path, :class => 'btn btn-primary' %>
<% end %>