<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @usuario.codigo %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Password:</b>
  <%= @usuario.password %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellidos:</b>
  <%= @usuario.apellidos %>
</p>

<p>
  <b>Role:</b>
  <%= @usuario.role_id %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
